
/* -----------------------------------css */
.gallery{
    padding:20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img{
    height: 250px;
    width: 350px;
    transform: scale(1.0);
    transition: transform 0.4s ease;
}

.photo-box{
    /* margin: 5% 5% 0 5%; (top, right, bottom, and left). */
    margin: 10px;
    width: 350px;
    height: 250px;
    box-sizing: content-box;
    overflow: hidden; /*if content is to big, it wont show*/
    display: inline-block;
    color: white;
    position: relative;
    background-color: white;
}

.caption{
    position: absolute;
    bottom: -25px;
    left: 20px;
    opacity: 0.0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.transparent-box{
    height: 250px;
    width: 350px;
    background-color: rgba(0,0,0,0);
    position:absolute;
    top:0;
    bottom: 0;
    transition: background-color 0.3s ease;
}

.photo-box:hover img { 
    transform: scale(1.1);
}
  
.photo-box:hover .transparent-box {
    background-color:rgba(0, 0, 0, 0.5);
}

.photo-box:hover .caption {
    transform: translateY(-20px);
    opacity: 1.0;
}
  

.caption > p:nth-child(1){
    font-size: 25px;
    color: white;
    font-weight: bold;
    opacity: 100%;
    margin-bottom: 0;
}

.caption > p:nth-child(2) {
    /* :nth-child(number)-> matches the element based on their position among a group */
    font-size: 15px;
    color: white;
    font-weight: bold;
    opacity: 75%;
    margin-bottom: 1rem;
}

img{
    object-fit: cover;
}

/* .container-fluid fluid{
    justify-content: center;
    display: grid;
    background-color: green;
} */