*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.introduction-container{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #eee; */
    padding: 0 1.5em;
}

img {
    width: 100%;
    height: auto;
}

.introduction-card{
    width: 100%;
    max-width: 98rem;
    padding: 5rem;
    background-color: #fff;
    box-shadow: 0 1.4rem 8rem rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    border-radius: .8rem;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* .introduction-card:hover{
    box-shadow: 0 1.4rem 8rem rgba(0,0,0,.2);
} */

.intrduction-image{
    min-width: 35rem;
    max-width: 35rem;
    height: 30rem;
    transform: translateX(-8rem);
    position: relative;
}


.intrduction-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .8rem; 
    /* box-shadow: 0 1.4rem 8rem rgba(0,0,0,.2); */
    
    background-image: radial-gradient(circle at 1px 1px, black 1px, transparent 0);
    background-color: #007bff;

    background-size: 50px 30px;

    /* cambiar el border para que sea un circulo */
}


.intrduction-image::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background: linear-gradient(to right, rgba(79,172,254, .8),
                                            rgba(0,242,254,.8)); */
    /* box-shadow: .5rem .5rem 3rem 1px rgba(0,0,0,.05); */
    box-shadow: 0 1.4rem 8rem rgba(0,0,0,.2);

    border-radius: .8rem;
}



/* .introduction-information{


} */

.introduction-title{
    font-size: 2.5rem;
    margin: 1.5rem 0 2rem; /*top, right, bottom, left*/
    text-transform: uppercase;
    /* color: #4facfe; */
    color: #009ccf;
}



.introduction-text{
    margin-bottom: 3rem;
    font-size: 1.4rem;
    color: #53565a;
}


@media  (max-width: 1570px){
    .introduction-card{
        display: grid;
        /* box-shadow: none; */
        object-fit: contain;
        width: 100%;
        height: auto;
        background-color: #fff;
    }
    .introduction-container{
        max-width: 80%;
        flex-direction: column;
        display: contents;
        height: auto;
        /* object-fit: contain; */
    }
    .intrduction-image{
        /* min-width: 100%; */
        max-width: 100%;
        transform: translate(0,0);
        box-shadow: none;
        height: auto;
    }
    .intrduction-image img{
        box-shadow: none;
        object-fit: contain;
    }
   
}

@media (max-width: 645px){
    .intrduction-image{
        min-width: 100%;
        /* max-width: 100%; */
    }
}


/* ------------------------------------Timeline----------------------------------------- */
/* .container{
    width: 100%;
    padding: 25 10%;
}

.container{
    padding-right: calc(10% - 30px);
} */


div.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.col header.title{
    color: #007bff;
    font-weight: bolder;
    padding: 0px 0px 20px 30px ;
}

.col .contents{
    padding: 0px 30px;
    border-left: 6px solid #53565a;
}

.col .contents .box{
    position: relative;
    padding: 20px;
    border: 1px solid white;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 5%;
}

.col .contents .box:hover{
    box-shadow: 0px 3px 12px 0px #53565a;
    /* border: 1px solid #53565a; */
}

.col .contents .box::before{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    right: calc(100% + 22px);
    top: -3px;
    background-color: #007bff;
    border: 4px solid #53565a;
}

.box h4{
    position: relative;
    color: #007bff;
    font-weight: bolder;
}
.box h3{
    font-size: 19px;
    padding: 10px 0px 6px;
    font-family: Helvetica;
    color: black;
    font-weight: bolder;
}

.box p{
    line-height: 1.2;
    color:#53565a;
    font-size: 17px;
    font-weight: bolder;
}

@media (max-width: 991px){
    div.row{
        grid-template-columns: 1fr;
    }
    .row .col:nth-child(2){
        margin-top: 30px;
    }
}



#pattern{
    background-image: radial-gradient(circle at 1px 1px, black 3px, transparent 0);
    background-size: 50px 30px;
    background-color: white;
    /* translate: transition(-106px, -35px); */
}

.dotted-square {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .inner-square {
    width: 150px;
    height: 150px;
    border: 1px dotted black;
  }
  